@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

//write new styles here
//general styles
h1{
  font-family: 'Courier New', courier;
}
h2{
  font-family: 'Courier New', courier;
  font-size: 1.2em;
  color: #d8d9d8;
}

.topHeader{
  margin-top: 15px;
  border-bottom: 1px solid #ff8a6d;
  img{
    padding-bottom: 15px;
  }
}

.titleSection{
  text-align: center;
  .round{
    position: relative;
    border-radius: 100%;
    border: 5px solid white;
    z-index: 100;
    margin-top: -50px;
    margin-bottom: -50px;
  }
}

.recentWork{
  img{
    margin-top: 15px;
  }
  ul{
    li{
      display: inline-block;
    }
  }
  .linksToViews{
    text-align: center;
    text-decoration: none;
    a{color: #ff8a6d;
    }
  }
  .workExample{
    border-top: 1px solid #ff8a6d;
  }
}
